@import './breakpoints.scss';

.button-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.show-on-mobile {
  display: none;
}
.show-on-desktop {
  display: block;
}

.container-override {
  display: flex;
  flex-direction: column;
  height: min-content;
}

@media only screen and (max-width: $SMALL) {
  .button-container {
    flex-direction: column;
  }

  .show-on-desktop {
    display: none;
  }
  .show-on-mobile {
    display: block;
    margin-top: auto;
  }
  .container-override {
    height: 100vh;
  }
}
